<body>
  <div ="LoginForm">
    <% if session[:errors] %>
    <div><%= session[:errors] %></div>
    <% session.delete(:errors) %>
    <% end %>
    <form action="/login" method="post">
      User Name: <input type="text" name="username"><br>
      Password: <input type="text" name="password"><br>
      <input type="submit">
    </form>

  </div>
</body>
