<body>
  <div ="LoginForm">

    <form action="/user/skills" method="post">
      <% @skills.each_with_index do |skill, idx| %>
        <%= idx + 1 %>: <%= skill.name %><br>
      <% end %>

     <!--Algorithms<input type="checkbox" name="skill[skill_name]" value="Algorithmsss"><br>
-->
  <!--     Clarisse is W<input type="checkbox" name="skill[ruby]" value="OOP Ruby"><br> -->
      <input type="submit" value="save skills">
    </form>

  </div>
</body>


<!-- <form action="demo_form.asp" method="get">
  <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle" value="Car" checked> I have a car<br>
  <input type="submit" value="Submit">
</form> -->
